* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    @include flexCenter(column);
    background-color: black;
}